*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(image5.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 80;
    margin: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;

}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;

}
.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.article{
    width: 100%;
    top: 30%;
    
    margin-left: 6%;
    position: absolute;
}
.article h1{
    color: darkmagenta;
    width: 100%;
   top: 30%;
   font-size: 50px;
   text-transform: uppercase;
}
